In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_rel as ttest
from scipy.stats import chi2_contingency as chi_2

In [2]:
data = pd.read_csv(r"C:\Users\adars\Downloads\Sales_add.csv")

In [3]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
data.shape

(22, 5)

### The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [5]:
# since there are only 22 samples we can use T-test to verify this hypothesis. Since we want to find if there is an increase in
# sales before and after the implementation of digital ad we will be using ttest_rel, this is because the two samples are related.

In [6]:
#The Null hypothesis will be that there is no change in sales after the implementation of digital ad

In [7]:
t_stat, p_value =ttest(data['Sales_before_digital_add(in $)'], data[The company needs to check whether there is any dependency between the features “Region” and “Manager”.])
print(t_stat)
print(p_value)

-12.09070525287017
6.336667004575778e-11

In [8]:
# The significance level is selected to be 0.05

In [9]:
if p_value < 0.05:
    print('The Null Hypothesis is rejected')
else:
    print('The Null hypothesis is accepted')

The Null Hypothesis is rejected

In [11]:
# So we can say that digital ads has had an effect on the sales

### The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [12]:
# Here we will be employing the chi^2 test for independance to see whether there is any realtion between the manager and region
#  on the sales.

In [13]:
# Intially we will be rearranging the table so that we could evaluate the sales made by each manager and in each region.
# we will be focussing on the sales after the implementation of digital ads.

In [14]:
table = pd.pivot_table(data = data, index = 'Manager', columns = 'Region', values = 'Sales_After_digital_add(in $)',
                      aggfunc = sum, fill_value= 0)

In [15]:
table

Region       Region - A  Region - B  Region - C
Manager
Manager - A     1030437      939851      229336
Manager - B      656832      231808      643654
Manager - C      701262      429436      222106

In [23]:
chi2, p_value_chi, dof, expected = chi_2(table)

In [24]:
if p_value_chi < 0.05:
    print('We reject the Null Hypothesis')
else:
    print('We accept the null hypothesis')

We reject the Null Hypothesis

In [19]:
# it is clear that sales is dependant on region and manager

In [20]:
# lets employ the same procedure on sales before implementing digital add

In [21]:
table_2 = pd.pivot_table(data = data, index = 'Manager', columns = 'Region', values = 'Sales_before_digital_add(in $)',
                      aggfunc = sum, fill_value= 0)

In [22]:
table_2

Region       Region - A  Region - B  Region - C
Manager
Manager - A      594514      570900      147463
Manager - B      466851      152167      469477
Manager - C      420684      330598      130625

In [25]:
chi2_before, p_value_chi_before, dof_before, expected_before = chi_2(table_2)

In [26]:
if p_value_chi_before < 0.05:
    print('We reject the Null Hypothesis')
else:
    print('We accept the null hypothesis')

We reject the Null Hypothesis

In [27]:
# here also the dependance has been prooved